@charset "utf-8";

*{margin:0; padding:0; box-sizing: border-box;}

li{list-style:none;}
a{text-decoration: none; color: #000;}


/*all*/

#wrap{
	width:95%; 
	height:auto; 
	margin:0 auto; position: 
	relative; 
}
.h2{
	text-align: center; 
	margin:20px 0;
}
/*mobile nav scetion*/
.mobile-header-section{
	width:100%; 
	display: flex; 
	align-items: center;
}
.mobile-header-left{
	width:30%;  
	height: 70px; 
	display: flex; 
	align-items: center;
}

.ham-nav{
	width:50px; 
	height: 50px; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: space-evenly; 
	border:1px solid #000; 
	cursor: pointer;
}
.ham{
	width:30px; 
	height: 5px; 
	background: #000;
}

.mobile-nav{
	width:100%; 
	position: absolute; 
	top:0; 
	left:0; 
	background:rgba(0,0,0,0.9); 
	margin-left: -2000px; 
	z-index: 200; 
	transition: 0.5s;
}
.close-btn{
	position: absolute; 
	top:15px; 
	right: 10%; 
	color: #fff;
	font-size:30px; 
	cursor: pointer;
}
.mobile_nav_ul{
	width:100%; 
	height: 100vh; 
	text-align: center;
	margin-top:100px;;
}
.mobile_nav_ul>li{}
.mobile_nav_ul>li:hover{
	background: #2c43a3;
}
.mobile_nav_ul>li:hober.mobile-nav-li>a{}
.mobile-nav-li{
	padding:10px 0;
}
.mobile-nav-li>a{
	font-size: 25px; 
	color:#fff;
}
.mobile-sub-nav{
	display:none;
}
.mobile-sub-nav>li{}
.mobile-sub-li{
	padding:5px 0;
}
.mobile-sub-li>a{
	color:#fff;
}
.mobile-sub-li>a:hover{
	color:#000; 
	font-size: 18px;
}
.logo{}
.logo img{
	width: 200px;
}




/*pc ver menu*/

.pc-header-section{
	width:100%; 
	display: none;
}
.pc-top-header{
	width:100%;
	display: flex; 
	align-items: center;
	justify-content: flex-start; 
	background:#2c43a3;
}

.top-header-left-ul{
	width: 50%; 
	height:45px;
	display: flex; 
 	align-items: center;  
	justify-content: space-around;
}
.top-header-left-li{
	display: flex;	
}
.top-header-left-li a{
	display: inline-block;    
    width: 100%;
    margin: 0 5px;    
    font-size: 13px;
    color: #fff;
}
.top-header-left-li img{}

.top-header-right{
	width: 50%; 
	height:45px;
	display: flex; 
	align-items: center; 
	justify-content: end;
}
.top-header-right-ul{
	width: 35%; 
	display: flex; 
	align-items: center; 
	justify-content: space-around;
}
.top-header-right-li{}
.top-header-right-li a{
	display:flex;
	color: #fff;
	font-size: 14px;
}
.top-header-right-li img{
	width: 30px;
	height: 30px;
}


.main-header{
	width:100%; 
	text-align: center;
}
.gnb{
	width:100%; 
	background: #fff; 
	position: relative; 
	z-index: 10; 
}
.gnb-ul{
	width: 100%;  
	background: #fff;
}
.gnb-li{
	width:20%; 
	height: 50px; 
	float: left; 
	transition: 0.5s;
}
.gnb-li:hover{
	background:#2c43a3; 
}
.gnb-li:hover.gnb-li>a{
	color: #fff;
}
.gnb-li>a{
	width:100%; 
	height: 50px; 
	display:flex; 
	align-items: center; 
	justify-content: center;
	font-size: 25px; 
	text-align: center;
}

.sub-ul{
	width: 100%; 
	text-align: center; 
	background: #fff; 
	display: none;
}
.sub-li{}
.sub-li:hover{
	background:#2c43a3;
	transition: 0.5s;
}
.sub-li:hover.sub-li>a{
	color: #fff;
}
.sub-li>a{
	display:inline-block; 
	width:100%; 
	font-size: 20px; 
	padding: 5px 0;
}

.img-section{
	width: 100%;
/* 	height:230px; */
/* 	margin:50px 0; */
/* 	background:#c8c8c8; */
}

.menu-name{  
    width: 100%;
    background: #2c43a3;  
    color: #fff;     
    padding:10px 0;
    text-align: center;
/*     height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 


    margin: 0px 60px; */
}

.board-section{
	width:100%;
    margin-top: 50px;
	
}
.left-menu{
	width: 100%;
	text-align: center;
	display: none;
}
.menu-ul{

}
.menu-title{}
.menu-title>a{}
.menu-li{}
.menu-li>a{}
.menu-img{}
.menu-img img{}

.right-menu{
    width: 100%;
    position: relative;
}
.page-title{   
    width: 100%;
    text-align: center;
}

  .tab_menu{
    position: relative;
    width: 100%;
    height: 100vh;
}

  .tab_menu .list{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .tab_menu .list li{

  }
  .tab_menu .list .btn{
  	font-size:13px;
  }
  .tab_menu .list .cont{
  	display:none; 
	position: absolute;
    left: 0;
   /*  background: #555; */
  
    text-align: center;
    width: 100%;
    height: 100%;	
  }
  .tab_menu .list li.is_on .btn{

  }
  .tab_menu .list li.is_on .cont{
  	display:block;
  }
.table{
	width:100%;
	border-collapse: collapse;
	border:1px solid;
}
.th{
	border: 1px solid;
	padding:15px 0;
}
.th-1{
	width: 15%;
}
.th-2{
	width: 50%;
}
.th-3{
	width: 20%;
}
.th-4{
	width: 15%;
}

.td{
	border: 1px solid;
	padding:15px 0;
}
.td-1{}
.td-2{}
.td-3{}
.td-4{}
/*footer*/
.mobile-footer-section{}
.mobile-top-footer{}
.mobile-footer-1{}
.mobile-footer-1 ul{
	display: flex; 
	align-items: center; 
	justify-content: space-around;
}
.mobile-footer-1 li{
	padding:5px 0; 
	font-size:12px;
}
.mobile-footer-1 li>a{}

.mobile-footer-2{}
.mobile-footer-2 ul{
	display: flex; 
	align-items: center; 
	justify-content: space-around;
}
.mobile-footer-2 li{
	padding:5px 0; 
	font-size:12px;
}
.mobile-footer-2 li a{}

.mobile-bottom-footer{
	width:100%; 
	text-align: center;
	font-size: 13px;
}
.footer-tel-img{}
.footer-tel-img img{}
.ceo{}
.footer-img{}
.footer-img img{}






/*반응형*/

@media screen and (min-width:800px) {

/*mobile nav scetion*/

.mobile-header-section{
	display: none;
}

/*pc ver menu*/
.pc-header-section{
	display:block;
}

.left-menu{}
.menu-ul{}
.menu-title{}
.menu-title>a{}



/*footer section*/

.mobile-footer-section{}
.mobile-top-footer{
	display: flex; 
	align-items: center; 
	justify-content: space-between;
}

.mobile-footer-1 li{
	font-size:18px;
}
.mobile-footer-1 li>a{
	padding: 0 5px;
	font-size: 15px;
}


.mobile-footer-2 li{ 
	font-size:18px;
}
.mobile-footer-2 li a{
	padding: 0 5px;
	font-size: 15px;
}

.mobile-bottom-footer{
	display: flex; 
	align-items: center; 
	justify-content: space-around;
}



}